* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    background-image:url(https://wallpapercave.com/wp/wp1843522.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center, top;
    background-attachment: fixed;
}

.header {
  width: 100%;
  padding-right: 80px;
  display: flex;
  flex-basis: auto;
  font-size: 25px;
  align-items:center;
  justify-content: space-between;
  background-color:rgb(60, 60, 60);
  opacity: 0.85;
}


.header img{
  width: 20%;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.SideBar {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 180px;
  top:20vh;
  position: fixed;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
  background-color:rgb(60, 60, 60);
  border-radius: 10px;
  overflow-y: scroll;
  color: white;
  
}


.SideBar button {
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.SideBar button :hover{
  background-color: aqua;
}

.deckList {
  padding-top: 5px;
  padding-left: 10px;
}

.SideBar h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}


::-webkit-scrollbar {
  width:5px;
}

::-webkit-scrollbar-thumb{
  background:slategrey;
  border: radius 10px;
}

.CardContainer {
  margin-left: 220px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.HeroCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33%;
  position: relative;
  top: 0;
  right: 0;
  transition: top .5s, right .5s;
}

.HeroCards:hover {
  position: relative;
  top: -7px;
  right: -7px;
}

.card-div {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  width: 100%;
}


.card-div div{
  width: 33%;
  display: flex;
  justify-content: center;
  
}

.all-cards {
  position: relative;
  top: 0;
  right: 0;
  transition: top .5s, right .5s;
}

.all-cards:hover {
  position: relative;
  top: -7px;
  right: -7px;
}

.card-div img {
  width: 75%;
}

.deck-cards {
  display: flex;
  flex-direction: column;
}

.deck-cards img {
  width: 80%;
  margin-left: 10%;
  
}

.deck-cards li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  list-style-type: none;
  width: 150px;
  margin: 10px;
  padding: 10px;
}

.deck-cards li:hover {
  background-color: black;
}

.deck-cards h2 {
  text-align: center;
}

.deck-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.deck-container div {
  display: flex;
}

.deck-container h2 {
  margin-top: 20px;
}

.deck-container h3 {
  margin-top: 20px;
}

/* .deck-container button {
  width: 160px;
  height: 25px;
  border-radius: 5px;
} */

.deck-container button:hover {
  background: black;
  color: white;
}

.delete-button {
  width: 40px;
}

.deck-button {
  width: 120px;
}

.clicked-button {
  background: black;
  color: white;
}
