* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    background-image:url(https://wallpapercave.com/wp/wp1843522.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center, top;
    background-attachment: fixed;
}

.header {
  width: 100%;
  padding-right: 80px;
  display: flex;
  flex-basis: auto;
  font-size: 25px;
  align-items:center;
  justify-content: space-between;
  background-color:rgb(60, 60, 60);
  opacity: 0.85;
}


.header img{
  width: 20%;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.SideBar {
  margin-left: 5%;
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 75vh;
  width: 180px;
  top:20vh;
  position: fixed;
  padding-top: 10px;
  padding-left: 10px;
  left: 0;
  background-color:rgb(60, 60, 60);
  border-radius: 10px;
  overflow-y: scroll;
  color: white;
}

::-webkit-scrollbar {
  width:5px;
}

::-webkit-scrollbar-thumb{
  background:slategrey;
  border: radius 10px;
}

.CardContainer {
  margin-left: 200px;
  color: white;
}

.HeroCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33%;
  
}

.card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
  margin-left: 50px;
}

.card-div img {
  width: 75%;
}

.deck-cards img {
  width: 5%;
}

.deck-cards li {
  background-color: blue;
  border-radius: 25px;
  list-style-type: none;
  width: 200px;
  margin: 10px;
}

.deck-container {
  display: flex;
  flex-direction: column;
}